$height: 4rem

.Collapse
  //&>div
  border: 1px solid #ccc
  .collapse-title
    height: $height
    line-height: $height
    background-color: #ccc
    font:
      size: 1.6rem
      weight: 600
      //size: 12px
    padding: 0 1rem
    &:hover
      background-color: #eee
  .collapse-content
    overflow: hidden